div{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

input{
  border-radius: 10rem;
  border: none;
  height: 3rem;
  width: 20rem;
  background-color: aliceblue;
  padding: 1.2rem;
  font-size: 1.1rem;
  font-weight: 500;
  outline: none;
  color: #0c298c;
}
