<div class="container">
  <div class="details">
    <app-title title="Login"></app-title>

    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <text-input [control]="fc.username" [showErrorsWhen]="isSubmitted" label="Username"></text-input>
      <text-input [control]="fc.password" [showErrorsWhen]="isSubmitted" type="password" label="Password"></text-input>

      <div class="button">
        <button type="submit">Login</button>
      </div>
      <div class="register">
        New user?
        <a routerLink="/register" [queryParams]="{returnUrl: returnUrl}"> Register here </a>
      </div>
    </form>
  </div>
</div>
