<app-title title="CartPage" margin="1.5rem 0 0 2.5rem"></app-title>
<app-not-found
  [visible] = "!cart || !cart.items.length"
  notFoundMessage="Cart is empty!"
  resetLinkText="Go to homepage">
</app-not-found>
<div *ngIf="cart && cart.items.length" class="container">
  <ul>
    <li *ngFor="let cartItem of cart.items">
      <div>
        <img [src]="cartItem.dish.imageUrl" [alt]="cartItem.dish.name">
      </div>
      <div>
        <a routerLink="/dishes/{{cartItem.dish.id}}">{{cartItem.dish.name}}</a>
      </div>
      <div>
        {{cartItem.price | currency}}
      </div>

      <div>
        Quantity: {{cartItem.quantity}}
      </div>
    </li>
  </ul>

  <div class="checkout">
    <div>
      <div class="dishes-count">{{cart.totalCount}}</div>
      <div class="total-price">{{cart.totalPrice | currency}}</div>
    </div>
<!--    <a routerLink="/checkout">Proceed to Checkout</a>-->
    <a (click)="cartService.clearCart()">Clear cart</a>
    <a style="margin: 0.3rem" (click)="cartService.orderDishes()">Order</a>
  </div>
</div>
